.Wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("https://source.unsplash.com/random/1920x1080/?landscape");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;
  color: whitesmoke;
}
.container {
  border-radius: 20px;
  border: 0.8px solid transparent;
  box-shadow: 4px rgb(0, 0, 0, 0.8);
  font-family: "Sora", sans-serif;
  max-width: 600px;
  position: relative;
  top: 25%;
  padding: 0;
}
.container.container-main {
  backdrop-filter: blur(10px);
  background-color: rgba(245, 245, 245, 0.3);
}
